# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
target/

# Eclipse
.metadata/
.project
.classpath
.settings/
.factorypath
bin/

# VS Code
.vscode/

# Common OS files to ignore
.DS_Store
Thumbs.db

# Maven / Gradle build folders (often used in Java projects)
target/
build/

# Logs
*.log

.gitattributes
